@model IEnumerable<BobaShop.Models.Category>

@{
    ViewData["Title"] = "Shop Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Shop from Category</h1>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card m-2">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a asp-controller="Shop" asp-action="Browse" asp-route-category="@item.Name">@item.Name</a></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
